-f https://download.pytorch.org/whl/torch_stable.html
Django==2.2
django-model-utils==4.0.0
gunicorn==19.9.0
requests==2.22.0
numpy==1.19.5
nltk==3.6.2
nlpaug==1.1.4
textaugment==1.3.4
torch==1.8.1+cpu 
torchvision==0.9.1+cpu
emoji==1.2.0
psycopg2-binary==2.7.4
